## inserting an  image using markdown
![image](https://cdn.pixabay.com/photo/2016/11/29/04/19/beach-1867285__340.jpg)
![santu](https://i.gifer.com/7E2d.gif)

### Inserting a site uasing markdown
[youtube](https://www.youtube.com/)

# Fundamental Data Types

# 1.int
# 2.float
# 3.complex
# 4.boolean
# 5.string

In [4]:
#basic example


x=10
print(type(x))
print(x)

<class 'int'>
10

In [7]:
a=complex(6,3)
print(a)

(6+3j)

In [9]:
c1=1+6j
c2=3+7j
print(c1+c2)
print(c1-c2)
print(c1*c2)

(4+13j)
(-2-1j)
(-39+25j)

In [10]:
#boolean
a=10
b=5
print(a>b)

True

In [11]:
#string
x="malikkkk"
print(type(x))
print(x)

<class 'str'>
malikkkk

In [15]:
#datatype conversions
i=100
print(type(i))
sr=str(i)
print(type(sr))
ft=float(i)
print(type(ft))

<class 'int'>
<class 'str'>
<class 'float'>

In [16]:
l="100"
print(type(l))
slr=int(i)
print(type(slr))
sdt=float(i)
print(type(sdt))

<class 'str'>
<class 'int'>
<class 'float'>

In [17]:
a=5.4
print(type(a))
b=int(a)
print(b)
print(type(b))

<class 'float'>
5
<class 'int'>

In [20]:
#length
a= 235647569843847268685784547687263756324987598275873626589437895896298576824798269875826395869
print(len(str(a)))

93

# Operators
## 1.Arithmetic operators 
## 2.Logical operators ---- and,or,not
## 3.Relational operators
## 4.Membership operators --- in,not in

In [24]:
#arithmetic operators
a=20
b=10
print(a//c)#floor division
print(a/b)
print(a*b)
c=2
print(a**c)

10
2.0
200
400

In [25]:
#relational operators
c=20
d=90
print(c!=d)
print(c<=d)
print(c==d)

True
True
False

In [27]:
#logical operators
print(c<=10 and d>=30)
print(c<=10 or d>=40)
print(not c)

False
True
False

In [30]:
#membership operators
srl="abc"
print("d" in srl)
print("d" not in srl)

False
True

# Conditional statements
## *1.if*
## *2.elif* 
    if u have more than 2 conditions then use elif
## *3.else*

In [33]:
#to check even or odd
n=int(input("enter the number :"))
if n%2==0:
    print("even")
else:
    print("odd")

enter the number :56
even

In [41]:
#to check whether the given number is perfectly divisible by 3 and 5
n=int(input("enter the number :"))
if n%3==0 and n%5==0:
    print("yes")
else:
    print("no")

enter the number :225
yes

In [46]:
#test if given no.is positive nrgative or zero
n=int(input("enter the number : "))
if n>0:
    print("positive no.")
elif n<0:
    print("negative no.")
else:
    print("zero")

enter the number : -75
negative no.

In [49]:
#check the input year is keap year otr not
year=int(input("enter the number :"))
if year%4==0:
    print("leap yeaar")
else:
    print("not a leap year")

enter the number :2020
leap yeaar

In [50]:
#check the person is eligible for vote or not
age=int(input("enter the number :"))
if age>=18:
    print("person is eligible for vote")
else:
    print("not eligible for vote")

enter the number :52
person is eligible for vote